*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

p{
    font-size:14px;
    margin-top: 10px;
    line-height: 30px;
}

h1{
    font-size: 35px;
    color: white;
    font-weight: 200;
}

h2{
    font-size: 30px;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: white;
}

section{
    padding: 80px 0;
}

.container{
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main-header{
    background-color:rgb(71, 122, 203);
    position: fixed;
    width: 100%;
    transition: .5s;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 40px;
    text-transform: capitalize;
}

.list{text-transform: uppercase;}

.main-header a:hover{
    color:brown;
}

.main-header{
    position: fixed;
    width: 100%;
    transition: .5s;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 40px;
    text-transform: capitalize;
}

.list{text-transform: uppercase;}

.main-header a:hover{
    color: rgb(58, 225, 58);
}

.info{
    background-color: rgb(244, 244, 244);
}